
body{
    background-image:radial-gradient(green,yellow);
    text-shadow: gray 1px 1px 1px;
}



header{
    display: flex;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0, 0, 0.1),rgba(0,0,0,0.1)),url('93472.jpg');
    background-size: cover;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: gray 1px 1px 1px;
    margin-bottom: 5%;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
header img{
    width: 50%;
    height: auto;
}

.dev{
    display: flex;
    color: white;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    border-radius: 1rem;
    margin: 0px 8.8%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.intro{
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.4);
    color: white;
    margin: 2rem;
    padding: 2rem;
    text-align: justify;
} 
.btn{
    color: white;
    background-color: rgba(60,60,60,0.6);
} 
.btn:hover{
    color: black;
    background-color:wheat;
}

.card{
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.4);
    color: white;
}
.card img{
    border-radius: 1rem;
}

#Members{
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
}

#Members ol li{
    font-size: larger;
}
footer{
    background-color: black;
    color: white;
    z-index: 1;
    margin-top: 1%;
    padding: 5%;
    text-align: center;
  }
  footer table{
      width: 100%;
  }
  footer table tr td{
    width: 33%;
    text-align: center;
    vertical-align: middle;
  }
  .vr{
      border-left: white 1px solid;
      border-right: white 1px solid;
  }
  @media(max-width:800px){
    header img{
        width: 95%;
        height: auto;
    }
    header{
        display: flex;
        height: 500px;
        width: 100%;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0,0,0,0.1)),url('93473.jpg');
        background-size: cover;
        justify-content: center;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-shadow: gray 1px 1px 1px;
        margin-bottom: 5%;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    #Members h2{
        text-align: center;
    }
    #Members{
        background-color: rgba(0,0,0,0.4);
        color: white;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 1rem;
    }
    .dev{
        display: flex;
        color: white;
        background-color: rgba(0,0,0,0.4);
        text-align: center;
        border-radius: 1rem;
        margin: 0px 4%;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    
}
